<table class="table table-striped">
  <thead>
  <th scope="col">Id</th>
  <th scope="col">Photo</th>
  <th scope="col">Name</th>
  <th scope="col">Age</th>
  <th scope="col">Description</th>
  <th scope="col">Adopted</th>
  </thead>
  <tbody>
  <tr *ngFor="let animal of animals">
    <td>{{ animal.Id }}</td>
    <td>
      <img [src]="animal.PhotoUrl" style="width: 50px"/>
    </td>
    <td>{{ animal.Name}}</td>
    <td>{{ animal.Age}}</td>
    <td>{{ animal.ShortDescription}}</td>
    <td>{{ animal.IsAdopted}}</td>
  </tr>
  </tbody>
</table>
